<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.genuitec.server.core.launchConfigurationType">
<stringAttribute key="IGenuitecServerLaunchConfigProvider.ATTR_DEFAULT_PROG_ARGS" value="start"/>
<stringAttribute key="IGenuitecServerLaunchConfigProvider.ATTR_DEFAULT_VM_ARGS" value="-Dcatalina.base=&quot;F:\s3\Myjava\.metadata\.me_tcat7&quot; -Dcatalina.home=&quot;D:\Program Files (x86)\MyEclipse 2016 CI\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201602031002\tomcat70&quot; -Dwtp.deploy=&quot;F:\s3\Myjava\.metadata\.me_tcat7\webapps&quot; -Djava.endorsed.dirs=&quot;D:\Program Files (x86)\MyEclipse 2016 CI\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201602031002\tomcat70\endorsed&quot; -Djava.library.path=&quot;D:\Program Files (x86)\Java\jdk1.8.0_102\bin;D:\Program Files (x86)\MyEclipse 2016 CI\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201602031002\tomcat70\bin&quot;"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="com.genuitec.server.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk1.8.0_102"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="start"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcatalina.base=&quot;F:\s3\Myjava\.metadata\.me_tcat7&quot; -Dcatalina.home=&quot;D:\Program Files (x86)\MyEclipse 2016 CI\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201602031002\tomcat70&quot; -Dwtp.deploy=&quot;F:\s3\Myjava\.metadata\.me_tcat7\webapps&quot; -Djava.endorsed.dirs=&quot;D:\Program Files (x86)\MyEclipse 2016 CI\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201602031002\tomcat70\endorsed&quot; -Djava.library.path=&quot;D:\Program Files (x86)\Java\jdk1.8.0_102\bin;D:\Program Files (x86)\MyEclipse 2016 CI\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201602031002\tomcat70\bin&quot;"/>
<stringAttribute key="process_factory_id" value="com.genuitec.eclipse.core.ui.console.CustomConsoleProcessFactory"/>
<stringAttribute key="server-id" value="com.genuitec.embedded.tomcat.server.v70"/>
</launchConfiguration>
