<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

	<!-- SQL dialect -->
	<property name="dialect">
		org.hibernate.dialect.MySQL5Dialect
	</property>
	<!-- 其它的配置 -->
	<property name="show_sql">true</property>

	<property name="hbm2ddl.auto">update</property>
	<!-- 映射配置 -->
	<mapping resource="com/mstf/bean/Bean.hbm.xml" />

</session-factory>
</hibernate-configuration>


